name: Test adhoc

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-adhoc:
    runs-on: ubuntu-latest
    steps:
      - name: Getting the repo
        uses: actions/checkout@v2
      - name: Installing node
        uses: actions/setup-node@v1
      - name: Install React Native CLI
        run: |
          yarn global add react-native-cli
      - name: Install yarn dependencies
        run: |
          yarn install
      - name: Running test
        run: |
          yarn lint
          yarn test
